In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     |████████████████████████████████| 246 kB 8.1 MB/s
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
WARNING: You are using pip version 21.3.1; however, version 23.1.2 is available.
You should consider upgrading via the '/opt/homebrew/Cellar/jupyterlab/3.2.6/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.1-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 6.2 MB/s
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/3.2.6/libexec/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 11.7 MB/s
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/3.2.6/libexec/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas) (1.22.0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/six/1.16.0_2/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.1 tzdata-2023.3
WARNING: You are using pip version 21.3.1; however, version 23.1.2 is available.
You should consider upgrading via the '/opt/homebrew/Cellar/jupyterlab/3.2.6/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['3.27.1.90:9092'],  
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [3]:
producer.send('iamismail', value={'Cloud':'AWS'})

In [4]:
producer.send('iamismail',value ={'Cloud':'Google'})

In [5]:
df = pd.read_csv("indexedProcessed_data.csv")

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('iamismail', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [8]:
producer.flush()